.container {
  width: 800px !important;
  margin: 120px auto 40px auto;
  padding: 30px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  border-radius: 20px;
  background-color: white;
}
.container .MuiTableRow-head {
  background-color: white !important;
  color: black !important;
}
.container .MuiTableRow-head th {
  color: black !important;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 8px !important;
  text-decoration-color: #df3e3e;
  font-size: 18px;
  text-decoration-thickness: 1.5px !important;
}
.headingMainTable {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #df3e3e;
}
.buttonClass {
  background-color: white !important;
  border: 2px solid black !important;
  box-shadow: none !important;
  color: black !important;
  font-weight: bold !important;
}
.buttonClass:hover {
  background-color: black !important;
  border: 2px solid black !important;
  box-shadow: none !important;
  color: white !important;
  font-weight: bold !important;
}
.tableClass {
  box-shadow: rgb(0 0 0) 0px 0px 0px 2px !important;
}
.MuiTableCell-root {
  border-bottom: 1px solid rgb(0 0 0) !important;
}
.noBooks {
  text-align: center;
  padding: 40px;
  font-size: 20px;
}
body {
  background-image: url("../../Assets/images//47f14b3e85844cd2a83b4e7cb7c098faf0ef8f0caa14c20813ea87577abea5aa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.PrivateSwitchBase-root-41 {
  padding: 15px 0px !important;
}
